<%= javascript_include_tag :defaults %>
<center>
<form name=sample action="">
<font size="1" face="arial, helvetica, sans-serif"> Only 50 characters allowed!
// at every key up and key down event the upper function is called 
<input name="text" type="text" size="40"
onKeyDown="CountLeft(this.form.text,this.form.left,50);" 
onKeyUp="CountLeft(this.form.text,this.form.left,50);">
<input readonly type="text" name="left" size=3 maxlength=3 value="50"> 
characters left</font>
</form>
</center>