<h1>I LOVE EMMA STONE</h1>

<p>
  This is the home page for people who love this wonderful woman.
  <br /><strong> V(^_^)V </strong>
  
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<p>
 Powered by the <a href="http://railstutorial.org/">Wooby on Wails Tutorial</a>
  sample application.
</p>