<h1>About Us</h1>
<p>
  <a href="http://www.imdb.com/name/nm1297015/">Emma Stone</a>
  is a hella beautiful woman and actress. Check out her bio <a href="http://www.imdb.com/name/nm1297015/bio">here</a>. 
  <br>This is the sample application for the Ruby on Rails tutorial.
</p>